#surveyform{
    width: 700px; 
    margin: auto;
}

.form-group{
    margin-top: 20px;
}

#agreeterms{
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 30px;
}

#button{
    font-weight: bold;
    width: 200px;
    margin-left: 250px;
    margin-bottom: 30px;
}

#resultform{
    width: 900px; 
    margin: auto;
    margin-top: 50px;
}

.result{
    margin-top: 20px;
    font-size: 20px;
}

#resultMail{
    margin-bottom: 100px;
}

label{
    font-weight:450;
    color: rgb(5, 68, 32);
}

/*#map {
    height: 400px;
    width: 100%;
  }*/


