#surveyform{
    width: 700px; 
    margin: auto;
}

.form-group{
    margin-top: 20px;
}

#agreeterms{
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}

#button{
    font-weight: bold;
    font-size: 30px;
    width: 200px;
    margin-left: 250px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#agreeterms{
    font-size: 20px;
}

#resultform{
    width: 900px; 
    margin: auto;
    margin-top: 50px;
}

.result{
    margin-top: 20px;
    font-size: 20px;
}

#resultMail{
    margin-bottom: 100px;
}

label{
    font-weight:450;
    font-size: 20px;
    color: rgb(2, 2, 114);
}
